{
  "env": {
    "rollup": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ],
      "plugins": [
        "transform-class-properties",
        "external-helpers"
      ]
    },
    "babel": {
      "presets": ["env"],
      "plugins": [
        "transform-class-properties",
        "external-helpers",
        "add-module-exports"
      ]
    }
  }
}
